.card {
  padding: 12px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  min-width: 180px;

  background-color: $card-background;

  transition: box-shadow 0.1s ease;

  .card-image {
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
    height: auto;
    flex: 3;
  }

  .card-title {
    font-size: 18px;
  }
}

a.card:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0px 3px 8px;
}
