// Primitives
$dark-main: #161617;
$grey-main: #404040;
$light-main: #dee2e6;
$primary: #004060;

// Semantic colors
$theme-bg-body: $dark-main;
$theme-text: $light-main;
$theme-border: $light-main;
$card-background: $primary;
$theme-bg-input: $grey-main;
